<h1>Carros de som</h1>

<table>
  <tr>
    <th>Placa carro</th>
    <th>Modelo carro</th>
    <th>Dono</th>
    <th class="botoes"></th>
    <th class="botoes"></th>
    <th class="botoes"></th>
  </tr>

<% @carro_soms.each do |carro_som| %>
  <tr>
    <td><%= carro_som.placa_carro %></td>
    <td><%= carro_som.modelo_carro %></td>
    <td><%= carro_som.pessoa.nome + " - " + carro_som.pessoa.cpf %></td>
    <td class="botoes"><%= link_to 'Visualizar', carro_som %></td>
    <td class="botoes"><%= link_to 'Editar', edit_carro_som_path(carro_som) %></td>
    <td class="botoes"><%= link_to 'Remover', carro_som, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="botoes_rodape" id="botoes_rodape">
	<%= link_to 'Cadastrar carro de som', new_carro_som_path %> |
	<%= link_to "Gerar relatório", carro_soms_path(@carro_som, :format => "pdf") %>
</div>