<h1>Carro de som <%= @carro_som.id %> <b id="notice"><%= notice %></b></h1>
	<fieldset class="ui-widget-content ui-corner-all fieldset">
	    <legend>Dados do carro</legend>
		<p class="show">
			<b class="show">Placa carro:</b>
			<%= @carro_som.placa_carro %>
		</p>

		<p class="show">
			<b class="show">Modelo carro:</b>
			<%= @carro_som.modelo_carro %>
		</p>
	</fieldset>
	<fieldset class="ui-widget-content ui-corner-all fieldset">
	    <legend>Dados do dono do carro</legend>
		<p class="show">
			<b class="show">Doador:</b>
			<%= @carro_som.pessoa.nome %>
		</p>
		<p class="show">
			<b class="show">CPF:</b>
			<%= @carro_som.pessoa.cpf %>
		</p>
	</fieldset>
	
<div class="botoes_rodape" id="botoes_rodape">
	<%= link_to 'Editar', edit_carro_som_path(@carro_som) %> |
	<%= link_to 'Voltar', carro_soms_path %>|
	<%= link_to "Gerar relatório", carro_som_path(@carro_som, :format => "pdf") %>
</div>