
<h1>Cabos eleitorais<div class="busca">
	<% form_tag cabo_eleitorals_path, :class=> 'busca' , :method => 'get' do%>
		<%= text_field_tag :search, params[:search], :class => 'txtsalvar' %>
		<%= submit_tag "Buscar", :name => nil, :class => 'btsalvar' %>
	<% end %>		
</div></h1>

<table>
  <tr>
    <th>Tipo de ajuda</th>
    <th>Valor de ajuda</th>
    <th>Cabo eleitoral</th>
    <th class="botoes"></th>
    <th class="botoes"></th>
    <th class="botoes"></th>
  </tr>

<% @cabo_eleitorals.each do |cabo_eleitoral| %>
  <tr>
    <td><%= cabo_eleitoral.tipo_ajuda %></td>
    <td><%= cabo_eleitoral.valor_ajuda %></td>
    <td><%= cabo_eleitoral.pessoa.nome %> - <%= cabo_eleitoral.pessoa.cpf %></td>
    <td class="botoes"><%= link_to 'Visualizar', cabo_eleitoral %></td>
    <td class="botoes"><%= link_to 'Editar', edit_cabo_eleitoral_path(cabo_eleitoral) %></td>
    <td class="botoes"><%= link_to 'Remover', cabo_eleitoral, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="botoes_rodape" id="botoes_rodape">
	<%= link_to 'Cadastrar cabo eleitoral', new_cabo_eleitoral_path %> |
	<%= link_to "Gerar relatório", cabo_eleitorals_path(@cabo_eleitoral, :format => "pdf") %>
	<%= will_paginate @doacaos %>
</div>