<h1>Cadastrar novo cabo eleitoral</h1>

<%= javascript_include_tag 'jquery-1.4.2.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.5.custom.min' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.5.custom' %>

<script type="text/javascript"> 
	$(document).ready(function() {
			nomes = "<%= @pessoas %>";
			nomes = nomes.substring(0,nomes.length-1);
			nomesArray = nomes.split(";");
			
			$("#nomepessoa").autocomplete({
				source: nomesArray
			});
	});

	function digitacpf() {
		nomecpf = $("#nomepessoa").val().split(" - ");
		$("#nomepessoa").val(nomecpf[0]);
		$("#cpfpessoa").val(nomecpf[1]);
	}
</script>


<%= form_for :cabo_eleitoral, :url => { :action => :create } do |f| %>

  <% if @cabo_eleitoral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabo_eleitoral.errors.count, "error") %> prohibited this cabo_eleitoral from being saved:</h2>

      <ul>
      <% @cabo_eleitoral.errors.full_messages.each do |msg| %>
        <li>
			<div class="iconeerro"></div>
			<b>Alerta: </b><%= msg %>
		</li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="ui-widget-content ui-corner-all fieldset">
	    <legend>Dados da ajuda</legend>
		<div class="field">
		  <%= f.label "Tipo de ajuda: " %>
		  <%= f.text_field :tipo_ajuda %>
		</div>
		<div class="field">
		  <%= f.label "Valor da ajuda: " %>
		  <%= f.text_field :valor_ajuda %>
		</div>
	</fieldset>
	<fieldset class="ui-widget-content ui-corner-all fieldset">
	    <legend>Dados do cabo eleitoral</legend>
		<%= fields_for :pessoa do |pessoa| %>
			<div class="field">
			  <%= pessoa.label "Nome: " %>
			  <%= pessoa.text_field :nome, :id => "nomepessoa", :onblur => "{digitacpf()}" %>
			</div>
			<div class="field">
			  <%= pessoa.label :pessoa, "CPF:" %>
			  <%= pessoa.text_field :cpf, :id => "cpfpessoa" %>
			</div>
		<% end %>
	</fieldset>
  <div class="actions">
    <%= f.submit 'Salvar' %> | 
	<%= link_to 'Voltar', cabo_eleitorals_path %>
  </div>
<% end %>
