<%= form_for(@cavalete) do |f| %>

  <% if @cavalete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cavalete.errors.count, "error") %> prohibited this cavalete from being saved:</h2>

      <ul>
      <% @cavalete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset class="ui-widget-content ui-corner-all fieldset">
	    <legend>Dados do cavalete</legend>
		<div class="field">
		  <%= f.label "Endereço: " %>
		  <%= text_field :placa, :endereco %>
		</div>
		<div class="field">
		  <%= f.label "Cidade: " %>
		  <%= text_field :placa, :cidade %>
		</div>
		<div class="field">
		  <%= f.label "Tamanho" %>
		  <%= text_field :placa, :tamanho %>
		</div>
		<div class="field">
		  <%= f.label "Descrição: " %>
		  <%= text_field :placa, :descricao %>
		</div>
		<div class="field">
		  <%= f.label "Local irregular: " %>
		  <%= f.check_box :irregular %>
		</div>
	</fieldset>

  <div class="actions">
    <%= f.submit 'Salvar' %>
<% end %>
