
<h1>Cavaletes<div class="busca">
	<% form_tag cavaletes_path, :class=> 'busca' , :method => 'get' do%>
		<%= text_field_tag :search, params[:search], :class => 'txtsalvar' %>
		<%= submit_tag "Buscar", :name => nil, :class => 'btsalvar' %>
	<% end %>		
</div></h1>

<table>
  <tr>
    <th>Irregular</th>
    <th>Cidade</th>
    <th>Endereço</th>
    <th class="botoes"></th>
    <th class="botoes"></th>
    <th class="botoes"></th>
  </tr>

<% @cavaletes.each do |cavalete| %>
  <tr>
    <td><%= cavalete.irregular %></td>
    <td><%= cavalete.placa.cidade %></td>
    <td><%= cavalete.placa.endereco %></td>
    <td class="botoes"><%= link_to 'Visualizar', cavalete %></td>
    <td class="botoes"><%= link_to 'Editar', edit_cavalete_path(cavalete) %></td>
    <td class="botoes"><%= link_to 'Remover', cavalete, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="botoes_rodape" id="botoes_rodape">
	<%= link_to 'Cadastrar cavalete', new_cavalete_path %> |
	<%= link_to "Gerar relatório", cavaletes_path(@cavalete, :format => "pdf") %>
	<%= will_paginate @doacaos %>
</div>