<h1>Editar doação</h1>

<script type="text/javascript"> 
$(document).ready(function() {
	nomes = "<%= @pessoas %>";
	nomes = nomes.substring(0,nomes.length-1);
	nomesArray = nomes.split(";");

	$("#nomepessoa").autocomplete({
		source: nomesArray
	});
	
	$("#datepicker").datepicker();
});

function digitacpf() {
	nomecpf = $("#nomepessoa").val().split(" - ");
	$("#nomepessoa").val(nomecpf[0]);
	$("#cpfpessoa").val(nomecpf[1]);
}
</script>


<%= form_for(@doacao) do |f| %>

<% if @doacao.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@doacao.errors.count, "error") %> prohibited this doacao from being saved:</h2>

	<ul>
		<li>
			<div class="iconeerro"></div>
			<b>Alerta: </b>
			<%= msg %>
		</li>
	</ul>
</div>
<% end %>
<fieldset class="ui-widget-content ui-corner-all fieldset">
	<legend>Dados da doação</legend>
	<div class="field">
		<%= f.label "Valor:" %>
		<%= f.text_field :valor_doaco %>
	</div>
	<div class="field">
		<%= f.label "Data:" %>
		<%= f.text_field :data_doacao, :id=>"datepicker" %>
	</div>
</fieldset>
<fieldset class="ui-widget-content ui-corner-all fieldset">
	<legend>Dados do doador</legend>
	<%= fields_for @doacao.pessoa do |pessoa| %>
	<div class="field">
		<%= pessoa.label "Nome: " %>
		<%= pessoa.text_field :nome, :id => "nomepessoa", :onblur => "{digitacpf()}" %>
	</div>
	<div class="field">
		<%= pessoa.label :pessoa, "CPF:" %>
		<%= pessoa.text_field :cpf, :id => "cpfpessoa" %>
	</div>
	<% end %>
</fieldset>
<div class="actions">
	<%= f.submit 'Salvar' %> |
	<%= link_to 'Visualizar', @doacao %> |
	<%= link_to 'Voltar', doacaos_path %>
</div>
<% end %>
