<h1>Usuários</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Senha</th>
    <th>Tipo usuario</th>
    <th>Pessoa</th>
    <th class="botoes"></th>
    <th class="botoes"></th>
    <th class="botoes"></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.email %></td>
    <td><%= usuario.senha %></td>
    <td><%= usuario.tipo_usuario %></td>
    <td><%= usuario.pessoa %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="botoes_rodape" id="botoes_rodape">
	<%= link_to 'Cadastrar usuário', new_usuario_path %> |
	<%= link_to "Gerar relatório", usuarios_path(@usuario, :format => "pdf") %>
</div>
