<h1>Usuário <%= @usuario.id %> <b id="notice"><%= notice %></b></h1>

<fieldset class="ui-widget-content ui-corner-all fieldset">
    <legend>Dados do usuário</legend>
	<p class="show">
	  <b class="show">Email:</b>
	  <%= @usuario.email %>
	</p>

	<p class="show">
	  <b class="show">Senha:</b>
	  <%= @usuario.senha %>
	</p>
</fieldset>
<fieldset class="ui-widget-content ui-corner-all fieldset">
    <legend>Dados da pessoa</legend>
	<p class="show">
	  <b class="show">Tipo usuario:</b>
	  <%= @usuario.tipo_usuario %>
	</p>

	<p class="show">
	  <b class="show">Pessoa:</b>
	  <%= @usuario.pessoa %>
	</p>
</fieldset>

<div class="botoes_rodape">
<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
</div>