<!DOCTYPE html>
<html>
<head>
	<title>SiCoCa - Sistema de Controle de Campanhas</title>
	<%= stylesheet_link_tag 'reset', 'sicoca', 'jquery-ui', 'imprimir', 'simpletooltip', :media => "all"  %>
	<%= javascript_include_tag "jquery","rails", "jquery-ui", "tooltip", 'googlemaps' %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAsLuVwzoctv5Qdco_CapMIhQfFTG3ZIrwPnaM1-BOFI-jKPW2lhRdrfK3ES6knzNLjNL4je8U6Mmw5w&amp;hl=&amp;sensor=false" type="text/javascript"></script> 
	
	<%= csrf_meta_tag %>

	<script type="text/javascript"> 
	$(document).ready(function() {
		$( "button, input:submit, a").button();
		$(":text"	).addClass('text ui-widget-content ui-corner-all');
		$(":text"	).css({height: 20})
		$(":select"	).addClass('text ui-widget-content ui-corner-all');
	});
	</script>
</head>

<body>
	<div class="main">
		<a class="toolbarimg naoimprimir" href="http://localhost:3000" id="imgtopo">
			<img class="header" src="../../../images/assis.png">
		</a>
		<div class="ui-widget-content ui-corner-all toolbar ui-widget-header barrabotoes" id="menutopo">
			<%= link_to "Manter bônus", doacaos_path, :class => "botaomenu" %>
			<%= link_to "Manter placas", placa_casas_path, :class => "botaomenu" %>
			<%= link_to "Manter cavaletes", cavaletes_path, :class => "botaomenu" %>
			<%= link_to "Manter cabos eleitorais", cabo_eleitorals_path, :class => "botaomenu" %>
			<%= link_to "Manter carros de som", carro_soms_path, :class => "botaomenu" %>
			<%= link_to "Manter usuários", usuarios_path, :class => "botaomenu" %>
		</div>
		<div class="ui-widget-content ui-corner-all content">
					<h1 class="relatorio">SiCoCa - Sistema para Controle de Campanhas</h1>
			<%= yield %>
		</div>
	</div>
</body>
</html>
