<!DOCTYPE html>
<html>
<head>
	<title>SiCoCa - Sistema de Controle de Campanhas</title>
	<%= stylesheet_link_tag 'reset', 'sicoca', 'jquery-ui', 'imprimir', "simpletooltip" %>
	<%= javascript_include_tag "jquery","rails", "jquery-ui", "tooltip", "googlemaps" %>
	
	<%= csrf_meta_tag %>

	<script type="text/javascript"> 
	$(document).ready(function() {
		$( "button, input:submit, a").button();
		$(":text"	).addClass('text ui-widget-content ui-corner-all');
		$(":text"	).css({height: 20})
		$(":select"	).addClass('text ui-widget-content ui-corner-all');
	});
	</script>
</head>

<body>
	<div class="main">
		<a class="toolbarimg naoimprimir" href="http://localhost:3000" id="imgtopo">
			<img class="header" src="../../../images/assis.png">
		</a>
		<div class="ui-widget-content ui-corner-all toolbar ui-widget-header barrabotoes" id="menutopo">
			<%= link_to "Manter bônus", doacaos_path, :class => "botaomenu" %>
			<%= link_to "Manter placas", placa_casas_path, :class => "botaomenu" %>
			<%= link_to "Manter cavaletes", cavaletes_path, :class => "botaomenu" %>
			<%= link_to "Manter cabos eleitorais", cabo_eleitorals_path, :class => "botaomenu" %>
			<%= link_to "Manter carros de som", carro_soms_path, :class => "botaomenu" %>
			<%= link_to "Manter usuários", usuarios_path, :class => "botaomenu" %>
		</div>
		<div class="ui-widget-content ui-corner-all content">
			<%= javascript_include_tag "jquery","rails", "jquery-ui" %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
